// Alerts //
@import "../variables";

.alert {
  background-color: unset;
  border: 2px solid;
  color: $arc-clr-white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  letter-spacing: .4px;
  &-danger {
    border-color: $wp-clr-notif-red;
    color: $wp-clr-notif-red;
  }
  &-success {
    border-color: $arc-clr-sport-glow;
    color: $arc-clr-sport-glow;
  }
 &-warning {
   border-color: $arc-clr-gold;
   color: $arc-clr-gold;
 }
}

.alert-odd {
  &-disabled {
    height: 75%;
    width: 100%;
    border: none;
    color: $arc-clr-gold;
    font-size: $h6-font-size;
    font-weight: bold;
    letter-spacing: .2px;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-179deg, #2F2F2F 1%, rgba(36,36,36, .6) 95%);
    margin-bottom: 0;
    padding: 0;
  }
  &-value-changed {
      height: 44px;
      width: 100%;
      border: 1px solid $arc-clr-gold;
      border-radius: 4px;
      padding: 0;
  }
}

.bonus-code-alert {
  margin: 0 28px 16px 28px;
}
