// Betslip //
@import '../variables';

.betslip {
  &-block {
    position: sticky !important;
    top: 80px;
    max-height: calc(100vh - 80px);
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
  &-empty-card  {
    border: 1px solid $arc-clr-soil-light !important;
    border-radius: 6px 6px 0 6px !important;
  }
  &-input {
    border-radius: 0 0 6px 0 !important;
    text-align: center;
    font-weight: bold;
    font-size: $h6-font-size !important;
    width: 80px;
    max-width: 80px;
    &:disabled {
      background-color: $arc-clr-soil-dark;
      border: 1px solid $arc-clr-soil-darker;
      color: $arc-clr-iron;
      border-radius: 0 6px  0 6px !important;
    }
  }
  &-nav-wrapper {
    background: $arc-clr-soil-black;
    padding-left: 6px;
  }
}

