// Betslip //
@import '../variables';

.betslip {
  &-block {
    position: sticky !important;
    top: 80px;
    height: calc(100vh - 80px);
    overflow-y: auto !important;
    overflow-x: hidden !important;
    flex: 0 0 268px;
  }
  &-empty-card  {
    border: 1px solid $arc-clr-soil-light !important;
    border-radius: 6px 6px 0 6px !important;
  }
  &-input {
    border-radius: 0 6px 0 6px !important;
    text-align: center;
    font-weight: bold;
    font-size: $h6-font-size !important;
    width: 80px;
    max-width: 80px;
    &:disabled {
      background-color: $arc-clr-soil-dark;
      border: 1px solid $arc-clr-soil-darker;
      color: $arc-clr-iron;
      border-radius: 0 6px  0 6px !important;
    }
    &::placeholder {
      opacity: 0.3;
    }
  }
  &-nav-wrapper {
    background: $arc-clr-soil-black;
    padding-left: 6px;
  }
  &-mobile-button {
    &-wrapper {
        height: 66px;
        width: 53px;
        border-radius: 6px 0 6px 0;
        background-color: $arc-clr-soil-dark;
        box-shadow: 0 0 8px 0 rgba($black, .5);
        padding-top: 6px;
        position: fixed;
        bottom: 60px;
        right: 0;
        z-index: 1036;
        display: flex;
        justify-content: center;
    }
  }
}

