.btn {
  border-radius: 6px 0 12px 0 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  line-height: 18px !important;
  text-align: center !important;
  color: #483624 !important;
  height: 36px;
}
