// Upcoming events section
@import '../variables';

.card.disabled {
  opacity: .5;
}

.upcoming-card {
  border-radius: 4px !important;
  & .card-body {
    height: 80px;
  }
}
.event-card-toggle-button {
  &:hover {
    background-color: $arc-clr-soil-darker;
    transition: background-color .35s ease-in-out;
    cursor: pointer;
  }
}
.event-card-inside-border {
  box-shadow: inset 1px 0 0 0 rgba($black, .3);
}

.upcoming-statistics:hover {
  background-color: $arc-clr-soil-darker;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  position: relative;
  display: inline-block;
  transition: background-color .35s ease-in-out;

  &:after {
    content: '';
    box-shadow: 0 0 4px 0 $arc-clr-soil-cover;
    border-radius: 0 4px 4px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 888;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  &:hover:after {
    opacity: 1;
  }
}
