// Cards styles //
@import '../variables';

.event-card,
%event-card {
  border-radius: 4px !important;
  user-select: none;
  transition: box-shadow $transition-speed ease;
  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 20px 0 rgba($black, .3);
    transition: box-shadow $transition-speed ease;
    .arc-upcoming-event-replay,
    .arc-upcoming-event-statistic {
      transition: all $transition-speed ease-in-out;
      color: #9A9A9A !important;
    }
    .event-card-date {
      color: $arc-clr-white !important;
    }
    .event-card-name {
      color: $arc-clr-iron-light !important;
    }
  }
  .collapsed {
    .arc-upcoming-event-chevron-down,
    .arc-event-details-chevron-down {
      transform: rotateX(0deg) !important;
      transition: all $transition-speed ease-in-out;
    }
    .arc-upcoming-event-arrow-right {
      transition: all $transition-speed ease-in-out;
    }
  }
  &-toggle-button {
    &:hover {
      background-color: $arc-clr-soil-darker;
      transition: background-color $transition-speed ease-in-out;
    }
    &-esport:hover {
        background-color: $arc-clr-soil-darker;
        border-bottom-right-radius: 4px;
    }
  }
  &-inside-border {
    &-left {
      box-shadow: inset 1px 0 0 0 $arc-clr-soil-cover;
    }
    &-right {
      box-shadow: inset -1px 0 0 0 $arc-clr-soil-cover;
    }
    &-top {
      box-shadow: inset 0 1px 0 0 $arc-clr-soil-cover;
    }
    &-bottom {
      box-shadow: inset 0 -1px 0 0 $arc-clr-soil-cover;
    }
  }
  &-statistics-button {
    &:hover {
      background-color: $arc-clr-soil-darker;
      border-radius: 0 4px 4px 0;
      position: relative;
      display: inline-block;
      transition: background-color $transition-speed ease-in-out;
    }
  }
  &-date {
    font-size: 10px;
  }
  &-name {
    overflow: hidden;
    position: relative;
    line-height: 14px;
    max-height: 28px;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: .2em;
      background: $arc-clr-soil-dark;
    }
  }
}
.upcoming-card {
  @extend %event-card;
  & .card-body {
    max-height: 80px;
  }
}
.esport-card {
  @extend %event-card;
  transition: box-shadow $transition-speed ease;
  &:hover {
    transition: box-shadow $transition-speed ease;
    box-shadow: 0 1px 20px 0 rgba($black, .3);
  }
  .event-card-statistics-button {
    &:hover {
      border-bottom-right-radius: 0;
    }
  }
}

// Verification card
.verification-card {
  min-height: 97px;
  box-shadow: inset 0 -1px 0 0 $arc-clr-soil-cover;
  label {
    cursor: pointer;
  }
}
