//Opacity
@for $i from 1 through 9 {
  .opacity-#{$i} {
    opacity: $i * 0.1
  }
}

//Border radius
@for $i from 1 through 9 {
  .border-#{$i} {
    border-radius: $i + px
  }
}

// Cursor
.pointer {
  cursor: pointer;
  &-none {
    pointer-events: none;
  }
}

// Min width / height
.min-vw-100 {
  min-width: 100vw;
}
.min-vh-100 {
  min-height: 100vh;
}

//Position
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.nav-link:focus {
  outline: 0;
}
.tab-content:focus {
  outline: 0;
}
a:focus {
  outline: 0;
}
.rotate-180 {
  transform: rotate(180deg);
}
.desktop-container {
  max-width: 1920px;
  min-width: 1380px;
  margin: 80px auto 0 auto;
  padding: 0 3px 0 0;
}

.casino .desktop-container {
  min-width: unset;
}
.live-casino .desktop-container{
  min-width: unset;
}

.mobile-container {
  margin-top: 60px;
  transform: translate3d(0,0,0);
  background-color: $arc-clr-soil-light;
}
.event-list-container {
  min-height: calc(100vh - 172px - 60px);
}
iframe {
  overflow: hidden;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.breadcrumb-item {
  &:nth-of-type(2) > a{
    pointer-events: none;
  }
  &.active:before {
    display: none;
  }
}
.overflowed-y {
  overflow-y: auto;
}

