//Opacity
@for $i from 1 through 9 {
  .opacity-#{$i} {
    opacity: $i * 0.1
  }
}

//Border radius
@for $i from 1 through 9 {
  .border-#{$i} {
    border-radius: $i + px
  }
}

// Cursor
.pointer {
  cursor: pointer;
  &-none {
    pointer-events: none;
  }
}

// Min width / height
.min-vw-100 {
  min-width: 100vw;
}
.min-vh-100 {
  min-height: 100vh;
}

//Position
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}

.nav-link:focus {
  outline: 0;
}
.tab-content:focus {
  outline: 0;
}
a:focus {
  outline: 0;
}

.max-container-size {
  max-width: 1920px;
}

.desktop-container {
  max-width: 1920px;
  margin-top: 80px;
  padding: 0;
}
.mobile-content {
  max-width: 100vw;
  min-height: 100vh;
  margin-top: 60px;
  padding: 0;
}
