// Footer //
@import '../variables';

$section-top-border: inset 0 1px 0 0 $arc-clr-soil-light;

.footer {
  max-width: 1920px;
  box-shadow: $section-top-border;
  &-wrapper {
    padding: 0;
    background-color: $arc-clr-soil-darker;
    box-shadow: $section-top-border;
  }
  &-social-section {
    box-shadow: $section-top-border;
  }
  &-links-section {
    padding: 68px 20px;
    box-shadow: $section-top-border;
  }
  &-topicons-section {
    padding: 68px 0;
  }
  &-policy-section {
    color: #6F6F6F;
  }
  &-list li {
    line-height: 30px;
    list-style-type: none
  }
}
