// Forms
@import '../variables';

form:focus {
  outline: 0;
}

.form-label {
  margin-right: 20px;
  color: $arc-clr-iron;
}

.input-group-text{
  font-size: 14px;
  background-color: $arc-clr-white;
}
.invalid-feedback {
  margin-top: 8px;
  margin-left: 8px;
  letter-spacing: .02em;
}
.form-group {
  .is-invalid {
    margin-bottom: 8px;
  }
}
