// Inputs
@import '../variables';

@mixin regularInput() {
  .input-group-custom {
    position: relative;
    margin-bottom: 5px;

    input {
      &:focus {
        outline: none;

        ~ label.text-input {
          color: $arc-clr-white;
          top: -20px;
          font-size: 12px;
        }

        ~ .bar:before, ~ .bar:after {
          width: 50%;
        }
      }

      &:valid {
        ~ label.text-input {
          color: $arc-clr-white;
          top: -20px;
          font-size: 12px;
        }
      }
    }

    label {
      &.text-input {
        color: $arc-clr-soil-light;
        position: absolute;
        pointer-events: none;
        left: 6px;
        top: 5px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }
    }

    .bar {
      position: relative;
      display: block;
      width: 100%;

      &:before, &:after {
        content: '';
        height: 1px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: $arc-input-effect;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }

      &:before {
        left: 50%;
      }

      &:after {
        right: 50%;
      }
    }
  }
}

@mixin selectInput() {
  .input-group-select {
    position: relative;
    margin-bottom: 5px;

    &.day {
      @media (max-width: 767px) {
        margin-bottom: 25px;
        margin-right: 0 !important;
      }
      margin-right: 10px;
    }

    &.month {
      @media (max-width: 767px) {
        margin-right: 0 !important;
        margin-bottom: 25px;
      }
      margin-right: 10px;
    }

    .v-select {
      button.clear{
        display: none;
      }
      border-radius: 0 6px 0 6px;
      .dropdown-toggle {
        height: 35px;
        border: none;

        &::after {
          display: none;
        }
      }
      .dropdown-menu {
        color: $arc-clr-soil-light !important;
        .highlight a{
          background: $arc-input-effect;
        }
      }
    }
  }
}

// Betslip accept all odds checkbox
.accept-all-odds-checkbox {
  input.custom-control-input:checked ~ .custom-control-label:after{
      width: 24px;
      height: 24px;
      top: 3px;
      cursor: pointer;
      background-image: url(#{'~@/assets/images/inputs/checked.svg'});
  }
  .custom-control-label {
    padding-top: 3px;
    user-select: none;
    &::before {
      border-radius: 0 6px 0 6px;
      height: 24px;
      width: 24px;
      background-color: $arc-clr-white !important;
    }
  }
}
