// Inputs
@import '../variables';

// Betslip accept all odds checkbox
.accept-all-odds-checkbox {
  input.custom-control-input:checked ~ .custom-control-label:after{
      width: 24px;
      height: 24px;
      top: 4px;
      background-image: url(#{'~@/assets/images/inputs/checked.svg'});
  }
  .custom-control-label {
    padding-top: 4px;
    user-select: none;
    &::after {
      height: 24px;
      width: 24px;
      cursor: pointer;
    }
    &::before {
      height: 24px;
      width: 24px;
      background-color: $arc-clr-white !important;
      border-color: $arc-clr-white !important;
    }
  }
}
