.modal-header {
  height: 80px;
}

#AccountModal .modal-dialog {
  height: 90%;
}
#AccountModal .modal-content {
  height: 100%;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 1179px !important;
  }
}
