@import '../variables';

.navbar {
  min-height: $navbar-height;
}
.navbar-nav > .nav-item > a {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  letter-spacing: 0.23px;
  line-height: $btn-line-height-sm;
  padding: 31px 60px !important;
}
.navbar-nav > .nav-item > a:active {
  color: $arc-clr-white;
}
