@import '../variables';

.navbar {
  min-height: $navbar-height;
}
#top-navigation > .nav-item > a {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  letter-spacing: 0.23px;
  line-height: $btn-line-height-sm;
  padding: 31px 60px;
}
.navbar-nav > .nav-item > a:active {
  color: $arc-clr-white;
}

// Navbar wallet
#nav-wallet-wrapper {
  padding: 22px 15px;
  width: 198px;
  height: $navbar-height;
}
#nav-wallet-wrapper > a {
  padding: 0;
  letter-spacing: 0.09px;
  line-height: 14px;
}
.wallet-button {
  width: 40px;
  height: 36px;
  padding: 6px 8px !important;
  border: none !important;
}
#nav-wallet-wrapper > .dropdown-menu {
  padding: 0;
  margin: 0;
  width: 198px;
  box-shadow: 0 2px 0 0 rgba($black, .5);
}
