@import '../variables';

.navbar {
  &-desktop {
    max-height: $navbar-height;
    padding: 0;
    margin-right: 3px;
    &-inner {
      max-width: 1917px;
      margin: 0 auto;
    }
  }
  &-mobile {
    height: 60px;
    padding: 0;
    &-burger-section {
      padding: 16px !important;
    }
    &-profile-section {
      padding: 0 10px 0 0 !important;
    }
  }
}
#top-navigation > .nav-item > a {
  letter-spacing: .02em;
  line-height: $btn-line-height-sm;
  padding: 31px 60px;
}
.navbar-menu-item {
  font-size: $h6-font-size;
}

// Logo
.navbar-brand {
  &-desktop {
    padding: 0 27px;
    margin-right: 1px;
  }
  &-mobile {
    padding: 0 16px !important;
    .navbar-brand {
      margin: 0;
      padding: 0;
    }
  }
}

// Navbar wallet
#nav-wallet-wrapper {
  padding: 22px 15px;
  width: 198px;
  height: $navbar-height;
  & > a {
    padding: 0;
    letter-spacing: .02em;
    line-height: 14px;
  }
  & > .dropdown-menu {
    border: none;
    padding: 0;
    margin: 0;
    width: 198px;
    box-shadow: 0 2px 0 0 rgba($black, .5);
  }
}
