.vdp-datepicker.calendar {
  .vdp-datepicker__calendar {
    background: #3c3d3d !important;
    color: white
  }

  input.date-input {
    display: none;
  }

  .arc.arc-calender.text-arc-clr-iron {
    font-size: 16px;
  }
}
