::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;
}

.vb > .vb-dragger {
  z-index: 5;
  width: 10px;
  right: 3px;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0,0,0,0);
  transform: rotate3d(0,0,0,0);
  -webkit-transition:
          background-color 100ms ease-out,
          margin 100ms ease-out,
          height 100ms ease-out;
  transition:
          background-color 100ms ease-out,
          margin 100ms ease-out,
          height 100ms ease-out;
  background-color: transparent;
  margin: 0;
  border-radius: 3px;
  width: 6px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: #3D3D3D;
  box-shadow: 0 1px 2px 0 rgba( $black, .5);
  margin: 10px 0;
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: #3D3D3D;
  height: 123px;
  box-shadow: 0 1px 4px 0 rgba( $black, .5);
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: #3D3D3D;
  height: 123px;
  box-shadow: 0 1px 4px 0 rgba( $black, .5);
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: #3D3D3D;
  box-shadow: 0 1px 4px 0 rgba( $black, .5);
}
