::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;

  .__vuescroll.hasVBar.vBarVisible {
    height: 100vh !important;
  }
}

html {
  scrollbar-width: none;
}
