@import '../variables';

// Bonus section
.bonus-overview-section {
  border-radius: 6px 6px 0 0;
  border: 1px solid $arc-dropdown-divider;
  border-bottom: none;
  width: 100%;
}
.bonus-item {
  cursor: pointer;
  user-select: none;
  box-shadow: 0 1px 0 0 $arc-clr-soil-cover;
  margin-bottom: 1px;
  .arc-bonus-chevron-down {
    transform: rotateX(180deg);
    transition: transform .8s ease;
  }
}
.collapsed {
  .arc-bonus-chevron-down {
    transform: rotateX(0deg);
    transition: transform .6s ease-in-out;
  }
  .bonus-item-name {
    line-height: 20px;
    color: $arc-clr-iron-light !important;
  }
}

// Account Section
.account-item {
  cursor: pointer;
  user-select: none;
  box-shadow: 0 1px 0 0 $arc-clr-soil-cover;
  margin-bottom: 1px;
  .arc-bonus-chevron-down {
    transform: rotateX(180deg);
    transition: transform .8s ease;
  }
}
.collapsed {
  .arc-bonus-chevron-down {
    transform: rotateX(0deg);
  }
  .account-item-name {
    line-height: 20px;
    color: $arc-clr-iron-light !important;
  }
}

// Coockies style
.cookie {
  &-container {
    max-width: 1920px;
    z-index: 1040;
    bottom: 0;
    left: 0;
  }
  &-section {
    box-shadow: inset 0 1px 0 0 $arc-clr-soil-light;
    background-color: rgba(30,30,30, .9)
  }
}

// Introduction area
.introduction-area,
%introduction-area {
  img {
    object-fit: cover;
    min-height: 100%;
    mask-image: linear-gradient(to bottom, rgba($black, 1) 75%, rgba($black, 0));
  }
}

.event-introduction-area {
  @extend %introduction-area;
  .card-img-overlay {
    position: relative;
  }
  img {
    position: absolute;
  }
}

// Tournament page header section
.event-description-section {
  min-height: 170px;
}

// Mobile wallet section
.mobile-wallet-switch,
%mobile-wallet-switch {
    border-bottom: 1px solid $arc-clr-soil-cover;
  &:hover {
    background-color: $arc-clr-soil-black;
    border-radius: 3px;
    .mobile-wallet-switch-amount {
      color: $arc-clr-gold !important;
    }
  }
  &:last-of-type {
    border: none;
  }
  &:active {
    background-color: #171717;
    border-radius: 3px;
  }
}
.mobile-wallet-switch-mobile {
  @extend %mobile-wallet-switch;
  border-bottom: 1px solid $arc-clr-soil-cover;
  &:hover {
    background-color: unset;
    .mobile-wallet-switch-amount {
      color: $arc-clr-white !important;
    }
  }
  &:active {
    background-color: #171717;
    border-radius: 3px;
  }
}

.casino-content-header {
  padding-top: 30px;
  padding-bottom: 30px;

  .promotion-block {
    padding: 0 25px;
    margin-bottom: 50px;

    .promotion-title-label {
      color: $arc-clr-gold;
      font-size: 14px;
      margin-bottom: -5px;
    }

    .promotion-title {
      font-size: 24px;
    }

    .promotion-image {
      min-height: 300px;
      max-height: 300px;
    }
  }

  .header-search {
    padding: 0 25px;

    input {
      width: 250px;
      z-index: 1;
    }
  }
}

.casino-games-list {
  padding: 5px 25px;

  .casino-games-category {
    margin: 25px 0;

    .category-header {
      margin-bottom: 10px;

      .header-icon {
        color: $arc-clr-casino-glow;
      }

      .header-title {
        font-size: 21px;
      }

      .header-more {
        a {
          color: $arc-dropdown-bg;

          &:hover {
            color: $arc-clr-casino-glow;
          }
        }
      }
    }

    .category-play-item {
      .play-item-button {
        display: block;
        width: 100%;
        position: relative;
        height: 100%;

        button.casino {
          position: absolute;
          top: -35%;
          background: #0c103e;
          transition: .5s ease;
          opacity: 0;
          border-radius: 0;
          min-width: 100%;
          min-height: 35%;
        }
      }

      img.play-item-icon {
        width: 100%
      }

      img.play-item-icon:hover ~ .play-item-button > button.casino,
      .play-item-button > button.casino:hover {
        opacity: 1
      }
    }
  }
}

// Twitch section
.twitch-section {
  box-shadow: 0 0 8px 0 $arc-clr-soil-darker;
}

.withdrawal-method {
  &-item {
    min-height: 80px;
    box-shadow: 0 1px 0 0 $arc-clr-soil-cover;
  }
}
