@import '../variables';

$transition-time: .3s;
$sidemenu-item-height: 56px;
$sidemenu-box-shadow: inset 0 -1px 0 0 rgba($black, .3);

.side-menu,
%side-menu {
  position: sticky !important;
  top: 80px;
  max-height: calc(100vh - 80px);
  overflow-y: auto !important;
  overflow-x: hidden !important;
  max-width: 268px;
  min-width: 268px;
  cursor: pointer;

  .__view {
    width: 100% !important;
  }

  .nav-item > a {
    padding: 0;
  }

  .items-level-0 > div > ul.nav {
    padding: 12px 0 16px 0;
  }

  .items-level-1 {
    padding: 0 10px;
    background-color: transparent;
    margin-top: 4px;
  }

  .items-level-2 {
    margin-top: 4px;
    background-color: transparent;
  }

  .item-title {
    font-size: $h6-font-size;
    .arc-sidemenu-triangle-down {
      transition: transform $transition-time ease-in-out;
      transform: rotateX(180deg);
    }
  }

  .item-title-0 {
    max-height: $sidemenu-item-height;
    box-shadow: $arc-button-box-shadow;
    font-weight: $font-weight-bold;
    padding-right: 20px;
    > .sidemenu-chevron {
      transform: rotateX(180deg);
      transition: transform .8s;
    }
  }

  .item-title-1 {
    padding-left: 8px;
    padding-right: 12px;
    font-weight: $font-weight-normal;
    div:nth-last-child(n + 2):first-child {
      font-weight: $font-weight-bold;
    }
  }

  .item-title-2 {
    padding-left: 20px;
    font-weight: $font-weight-normal;
  }

  .collapsed {
    .arc-sidemenu-triangle-down {
      transform: rotateX(0deg);
      transition: transform $transition-time ease-in-out;
    }
    .sidemenu-main-logo {
      color: $arc-clr-grey-light !important;
      transition: color $transition-time;
    }
    .item-title-0 {
      background-color: $arc-clr-soil-dark;
      box-shadow: $sidemenu-box-shadow;
      transition: background-color $transition-time;
      > .sidemenu-chevron {
        transform: rotateX(0deg);
      }
    }
  }
  .side-menu-categories {
    height: $sidemenu-item-height;
    min-height: $sidemenu-item-height;
    font-size: 11px;
    box-shadow: $sidemenu-box-shadow;
    user-select: none;
  }
}

.sidemenu-mobile {
  @extend %side-menu;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  max-width: 100%;
  min-width: 100%;
  max-height: calc(100% - 60px);
  &-header {
    box-shadow: $sidemenu-box-shadow;
    min-height: 60px;
    & > a {
      width: 100%;
    }
  }
}
.mobile-navigation-sidemenu {
  height: 100vh;
  width: calc(100vw - 60px);
  margin-left: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 1031;
  background-color: $arc-clr-soil-dark;
  &-logo-section {
    height: 60px;
  }
  &-sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1035;
  }
  &-category {
    &-sports {
      .nav-link {
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        padding: 21px;
        background-color: $arc-clr-sport-bg;
      }
      .active {
        background-color: $arc-clr-sport-bg-second !important;
        box-shadow: inset 0 -4px 0 0 $arc-clr-sport-glow;
      }
    }
    &-esports {
      .nav-link {
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        padding: 21px;
        background-color: $arc-clr-esport-bg;
      }
      .active {
        background-color: $arc-clr-esport-bg-second !important;
        box-shadow: inset 0 -4px 0 0 $arc-clr-esport-glow;
      }
    }
  }
  .mobile-item-title-0 {
    max-height: $sidemenu-item-height;
    box-shadow: $arc-button-box-shadow;
    font-weight: $font-weight-bold;
    padding-right: 20px;
    min-height: 60px;
    > .sidemenu-chevron {
      transform: rotateX(180deg);
      transition: transform .8s;
    }
  }
  .items-level-1 a:hover {
    background-color: unset;
  }
  .collapsed {
    .arc-sidemenu-triangle-down {
      transform: rotateX(0deg);
      transition: transform $transition-time ease-in-out;
    }
    .sidemenu-main-logo {
      color: $arc-clr-grey-light !important;
      transition: color $transition-time;
    }
    .mobile-item-title-0 {
      background-color: $arc-clr-soil-dark;
      box-shadow: $sidemenu-box-shadow;
      transition: background-color $transition-time;
      > .sidemenu-chevron {
        transform: rotateX(0deg);
      }
    }
    .mobile-item-title-1 {
      background-color: #1e1e1e;
    }
  }
  .mobile-item-title-1 {
    padding: 10px;
  }
  .mobile-item-title-2 {
    padding: 10px 20px;
  }
  &-close-button {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: black;
    padding: 20px;
    z-index: 1032;
  }
  &-open-animation {
    &-enter-active {
      animation: slide-right  .3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation-direction: reverse;
    }
    &-leave-active {
      animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes slide-right {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100vh);
      }
    }
    @keyframes slide-right {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100vh);
      }
    }
  }
  &-overlay {
    display: block;
    background-color: rgba($black, .5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1029;
  }
}

// Information page sidemenu
.information-page-sidemenu {
  height: $sidemenu-item-height;
  box-shadow: $sidemenu-box-shadow;
  cursor: pointer;
  &-item {
    padding: 8px 40px !important;
  }
  &-active, &-active:hover{
    color: $arc-clr-gold;
  }
  .collapsed & {
    color: $arc-clr-iron-light;
    background-color: $arc-clr-soil-dark;
    .arc-sidemenu-chevron-down {
      transform: rotateX(0deg);
      transition: transform  ease-in-out;
    }
    .item-name {
      color: $arc-clr-iron-light;
    }
  }
  .item-name {
    color: $arc-clr-gold;
  }
  .arc-sidemenu-chevron-down {
    transition: transform  ease-in-out;
    transform: rotateX(180deg);
  }

}

.green {
  background-color: $arc-clr-sport-bg;
}

.blue{
  background-color: $arc-clr-esport-bg;
}
