@import "../variables";

.progressbar {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  counter-reset: step;

  button {
    &.step-one, &.step-two {
      cursor: pointer;
      outline: none;
      list-style-type: none;
      border: none;
      width: 50%;
      display: inline-block;
      font-size: 12px;
      background-color: transparent;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: $arc-dropdown-bg;

      &.active {
        color: $arc-clr-sport-glow !important;

        &:before {
          border-color: $arc-clr-sport-glow !important;
        }
      }

      &:before {
        width: 35px;
        height: 35px;
        content: counter(step);
        counter-increment: step;
        line-height: 31px;
        border: 3px solid $arc-dropdown-bg;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
      }
    }

    &.step-two.active:after {
      width: 70%;
      height: 2px;
      content: '';
      position: absolute;
      -webkit-transition: width 2s;
      transition: width 2s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      top: 15px;
      left: -35%;
      background-color: $arc-clr-sport-glow;
    }

    &.step-two:after {
      width: 70%;
      height: 2px;
      content: '';
      position: absolute;
      -webkit-transition: width 2s;
      transition: width 2s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      top: 15px;
      left: -35%;
      background-color: $arc-dropdown-bg;
    }

    &.steps:first-child:after {
      content: none;
    }

    &.step-two {
      &.active + button:after {
        background-color: $arc-clr-sport-glow;
      }
    }
  }
}
