@import '../variables';

#styleguide-top-navigation {
  .nav-item > a {
    line-height: $btn-line-height-sm;
    padding: 22px 60px;
    &:hover {
      background-color: $arc-clr-soil-cover;
      transition: background-color .3s;
    }
  }
}
.styleguide-sidemenu {
    border-radius: 4px;
    border: 1px solid $arc-clr-gold;
  &:hover {
    background-color: rgba(255, 185, 96, .5);
    & > a {
      color: $arc-clr-soil-black;
    }
  }
  &-active {
    background-color: $arc-clr-gold;
    border: none;
    color: $arc-clr-soil-black;
    transition: background-color .3s ease;
  }
}
