// Profile Modal Tabs
@import '../variables';

.nav:focus, div:focus {
  box-shadow: none !important;
  outline: none !important;
}
// Profile modal sidebar tabs
.profile-modal-nav,
%profile-modal-nav {
  &-item {
    height: 56px;
    padding-left: 16px;
    font-size: $h6-font-size;
    cursor: pointer;
    display: flex;
    align-items: center;
    a {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      padding: 0;
    }
    .tab-title {
      color: $arc-clr-iron-light;
      letter-spacing: .04em;
    }
    .tab-icon {
      color: #6F6F6F;
    }
  }
  &-item-active {
    background-color: #171717 !important;
    height: 56px;
    padding-left: 16px;
    font-size: $h6-font-size;
    display: flex;
    align-items: center;
    transition: background-color .3s ease;
    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0;
    }
    .tab-title {
      color: $arc-clr-gold;
      letter-spacing: .04em;
    }
    .tab-icon {
      color: $arc-clr-iron;
    }
  }
}

.profile-modal-nav-mobile {
  &-item {
    height: 64px;
    padding-left: 16px;
    font-size: $h6-font-size;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 $arc-clr-soil-light;
    .nav-link a{
      padding: 0 !important;
    }
    a {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      padding: 0;
    }
    .tab-title {
      color: $arc-clr-iron-light;
      letter-spacing: .04em;
    }
    .tab-icon {
      color: #6F6F6F;
    }
  }
  &-item:active {
    background-color: #171717 !important;
    height: 64px;
    padding-left: 16px;
    font-size: $h6-font-size;
    display: flex;
    align-items: center;
    transition: background-color .3s ease;
    box-shadow: inset 0 -1px 0 0 $arc-clr-soil-light;
    & > a.nav-link {
      padding-left: 0 !important;
    }
    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0;
    }
    .tab-title {
      color: $arc-clr-gold;
      letter-spacing: .04em;
    }
    .tab-icon {
      color: $arc-clr-iron;
    }
  }
  &-content {
    min-height: 100vh;
    overflow: hidden;
  }
}



// Betslip Tabs
.betslipActiveTab {
  background-color: $arc-clr-soil-dark !important;
  padding: 14px 39px !important;
  font-size: $h6-font-size;
  letter-spacing: .02em !important;
  line-height: 18px !important;
  font-weight: bold;
  color: $arc-clr-white;
}
.betslipTab {
  padding: 14px 39px !important;
  background-color: $arc-clr-soil-cover;
  font-size: $h6-font-size;
  letter-spacing: .02em !important;
  line-height: 18px !important;
  font-weight: bold;
  color: $arc-clr-iron-light;
}
.betslipTab:hover {
  background-color: #1A1A1A;
  transition: background-color .3s;
}

// Signup form tabs
.auth-tabs {
  letter-spacing: .02em;
  line-height: 18px;
  color: $arc-clr-iron-light;
  background-color: #2A2A2A;
  padding: 14px 30px;
  &.active {
    padding: 14px 29px;
    box-shadow: inset 0 2px 0 0 $arc-clr-gold;
    font-weight: bold;
    letter-spacing: .06em;
  }
  &:hover {
    background-color: #272727;
  }
}

// Category Tabs
.category-tabs {
  .tab-panel {
    flex-wrap: nowrap;
  }
  .nav-link {
    text-align: center;
    letter-spacing: -0.004em;
    &.active {
      transition: background-color 0.9s ease-in-out;
      background: linear-gradient(-180deg, #4242426b 0%, #3D3D3D 100%);
      border-radius: 2px 2px 0 0;
      letter-spacing: -0.004em;
    }
  }
  &-wrapper {
    overflow: hidden;
    width: 100%;
    flex-direction: row;
  }
  &-nav {
    flex-wrap: nowrap;
    white-space: nowrap;
    max-width: 100%;
    overflow: auto;
  }
}
// Sorting Panel
.sorting-panel {
  & > ul {
    border-bottom: 1px solid $arc-clr-soil-cover;
  }
  .nav-link.active {
    color: $arc-clr-white !important;
    box-shadow: unset;
    background: transparent;
  }
}

// Event Panel
.event-panel,
%event-panel {
  &-tabs {
    &-wrapper {
      overflow: hidden;
      width: 100%;
      flex-direction: row;
    }
    &-nav {
      flex-wrap: nowrap;
      white-space: nowrap;
      max-width: 100%;
      overflow: auto !important;
    }
    .nav-link.active {
      color: $arc-clr-white !important;
      background-image: linear-gradient(-180deg, rgba($arc-clr-white, .1) 0%, transparent 100%);
      box-shadow: inset 1px 0 0 0 rgba($black, .3);
    }
    .nav-link {
      margin-right: 1px !important;
      height: 60px;
      &:hover {
        background-color: $arc-clr-soil-cover !important;
        transition: background-color .2s;
      }
    }
  }
  &-titles {
    padding: 16px 20px 20px;
    background-color: $arc-dropdown-divider;
    text-transform: capitalize;
    letter-spacing: .02em;
  }
  &-content {
    padding: 24px !important;
  }
}
.border-top-tabs-orange {
  &-tabs {
    border-bottom: 1px solid $arc-clr-soil-cover;

    .nav-link.active {
      color: $arc-clr-white !important;
      background-image: linear-gradient(-180deg, rgba($arc-clr-white, .1) 0%, #2F2f2f 100%);
      box-shadow: inset 0 3px 0 0 $arc-clr-gold;
      border-left: 1px solid rgba($black, .3);
    }
    .nav-link {
      background-color: $arc-clr-soil-cover;
      margin-right: 1px !important;
      height: 60px;
      &:hover {
        background-color: $arc-clr-soil-darker !important;
        transition: background-color .2s;
      }
    }
  }
  &-titles {
    padding: 16px 20px 20px;
    background-color: $arc-dropdown-divider;
    text-transform: capitalize;
  }
}
.sign-form-tabs {
  &-title {
    font-size: 14px;
    letter-spacing: .03em;
    &:first-of-type {
      margin-right: 24px;
    }
  }
  &-content {
    padding-bottom: 16px;
  }
  .nav-link {
    box-shadow: inset 0 2px 0 0 $arc-clr-white;
    padding: 16px;
  }
  &.active {
    box-shadow: inset 0 2px 0 0 $arc-clr-gold;
    letter-spacing: .03em;
    font-size: 14px;
    color: $arc-clr-gold !important;
  }
}
.introduction-area-tabs-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}
