// Profile Modal Tabs
@import '../variables';

.nav:focus {
  box-shadow: none !important;
  outline: none !important;
}
// Profile modal sidebar tabs
.profile-modal-nav {
  &-item {
    height: 56px;
    padding: 16px;
    font-size: $h6-font-size;
    cursor: pointer;
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      padding: 0;
    }
    .tab-title {
      color: $arc-clr-iron-light;
    }
    .tab-icon {
      color: #6F6F6F;
    }
  }
  &-item-active {
    background-color: #171717 !important;
    height: 56px;
    padding: 16px;
    font-size: $h6-font-size;
    display: flex;
    align-items: center;
    transition: background-color .3s ease;
    a {
      display: flex;
      align-items: center;
      padding: 0;
    }
    .tab-title {
      color: $arc-clr-gold;
    }
    .tab-icon {
      color: $arc-clr-iron;
    }
  }
  &-content {
    min-height: 1020px;
  }
  &-sidebar {
    max-width: 330px
  }
}

// Betslip Tabs
.betslipActiveTab {
  background-color: $arc-clr-soil-dark !important;
  padding: 14px 42px !important;
  font-size: $h6-font-size;
  letter-spacing: .2px !important;
  line-height: 18px !important;
}
.betslipTab {
  padding: 14px 42px !important;
  background-color: $arc-clr-soil-cover;
  font-size: $h6-font-size;
  letter-spacing: .2px !important;
  line-height: 18px !important;
}
.betslipTab:hover {
  background-color: #1A1A1A;
  transition: background-color .3s;
}
.betslip-tabs-wrapper {
  background-color: $arc-clr-soil-black !important;
}

.betslip-header {
  padding: 16px 24px 15px 20px;
}
.betslip-header a{
  font-size: $h6-font-size;
}

// Auth Tabs
.authActiveTab {
  padding: 14px 29px !important;
  letter-spacing: 0.2px !important;
  box-shadow: inset 0 2px 0 0 #47D469;
  line-height: 18px !important;
}
.authTab {
  padding: 14px 30px !important;
  color: $arc-clr-iron-light !important;
  background-color: $arc-clr-soil-cover;
  letter-spacing: .2px !important;
  line-height: 18px !important;
}

// Category Tabs
.category-tabs {
  .nav-link {
    text-align: center;
    letter-spacing: -0.004em;
    &.active {
      transition: background-color 0.9s ease-in-out;
      background: linear-gradient(-180deg, #3d3d3dad 0%, rgba(241, 236, 236, 0) 100%);
      border-radius: 2px 2px 0 0;
      letter-spacing: -0.004em;

    }
  }
}

// Sorting Panel
.sorting-panel {
  & > ul {
    border-bottom: 1px solid $arc-clr-soil-cover;
  }
  .nav-link.active {
    color: $arc-clr-white !important;
    box-shadow: unset;
    background: transparent;
  }
}

// Event Panel
.event-panel,
%event-panel {
  &-tabs {
    border-bottom: 1px solid $arc-clr-soil-cover;
    margin: 0 24px;
    .nav-link.active {
      color: $arc-clr-white !important;
      background-image: linear-gradient(-180deg, rgba($arc-clr-white, .1) 0%, transparent 100%);
      box-shadow: inset 1px 0 0 0 rgba($black, .3);
    }
    .nav-link {
      margin-right: 1px !important;
      height: 60px;
      &:hover {
        background-color: $arc-clr-soil-cover !important;
        transition: background-color .2s;
      }
    }
  }
  &-titles {
    padding: 16px 20px 20px;
    background-color: $arc-dropdown-divider;
  }
  &-content {
    padding: 24px !important;
  }
}
.border-top-tabs-orange {
  &-tabs {
    border-bottom: 1px solid $arc-clr-soil-cover;
    margin-top: 6px;

    .nav-link.active {
      color: $arc-clr-white !important;
      background-color: unset;
      background-image: linear-gradient(-180deg, rgba($arc-clr-white, .1) 0%, #2F2f2f 100%);
      box-shadow: inset 0 3px 0 0 $arc-clr-gold;
      border-left: 1px solid rgba($black, .3);
    }
    .nav-link {
      background-color: $arc-clr-soil-cover;
      margin-right: 1px !important;
      height: 60px;
      &:hover {
        background-color: $arc-clr-soil-darker !important;
        transition: background-color .2s;
      }
    }
  }
  &-titles {
    padding: 16px 20px 20px;
    background-color: $arc-dropdown-divider;
  }
}
