// Profile Modal Tabs
.activeNav {
  background-color: #1B6945 !important;
  color: #E5E5E5 !important;
  height: 56px;
  padding: 16px 0 !important;
  line-height: 18px !important;
  font-size: 14px !important;
}
.profileNav {
  background-color: #1E1E1E;
  height: 56px;
  padding: 16px 0 !important;
  letter-spacing: 0.2px;
  line-height: 18px !important;
  font-size: 14px !important;
}
.nav-icon {
  margin: auto 18px;
}

// Betslip Tabs

