// Global text styles //

@import '../variables';

.font-size {
  &-xs {
    font-size: $extra-small-font-size; // 10px
  }
  &-sm {
    font-size: $small-font-size; // 12px
  }
  &-md {
    font-size: $h6-font-size; // 14px
  }
}

.letter-spacing {
  &-0 {
    letter-spacing: .09px;
  }
  &-1 {
    letter-spacing: .1px;
  }
  &-2 {
    letter-spacing: .21px;
  }
}
