// Global text styles //

@import '../variables';

.letter-spacing {
  &-0 {
    letter-spacing: .09px;
  }
  &-1 {
    letter-spacing: .1px;
  }
  &-2 {
    letter-spacing: .21px;
  }
  &-5 {
    letter-spacing: .58px;
  }
}

@for $i from 1 through 36 {
  .font-size-#{$i} {
    font-size: $i + px
  }
}
