// Global text styles //

@import '../variables';

.letter-spacing {
  &-1 {
    letter-spacing: .01em;
  }
  &-2 {
    letter-spacing: .02em;
  }
  &-5 {
    letter-spacing: .05em;
  }
}

@for $i from 1 through 36 {
  .font-size-#{$i} {
    font-size: $i + px
  }
}

@for $i from 1 through 24 {
  .line-height-#{$i} {
    line-height: $i + px
  }
}

.animated-underline {
  a {
    position: relative;
    text-decoration: none;
    padding-bottom: 4px;
  }
  a:hover {
    color: #FFF;
  }
  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
