@import '../variables';

// Top navigation
.navbar {
  background-color: $navbar-background;
  box-shadow: 0 2px 0 0 rgba($black, .5);
}
#top-navigation > .nav-item > .active {
  background-color: $nav-item-active-background;
  box-shadow: inset 0 4px 0 0 $nav-item-active-glow;
}

// Sidemenu
.sidebar-collapsed-title {
  background-color: $navbar-background;
}
.sidemenu-chevron {
  color: $sidemenu-chevron-color;
}
.sidemenu-main-logo {
  color: $sidemenu-main-logo-color;
}
.sidemenu .submenu:hover{
  background-color: $navbar-background;
  border-radius: 2px;
}

// Buttons
.btn-arc-primary {
  background-color: rgba($primary-button-background, .6);
  border: $btn-border-width solid rgba($primary-button-background, .5);
  box-shadow: $arc-button-box-shadow;
  color: $arc-clr-white;
  &:hover {
    background-color: rgba($primary-button-background, .8);
    border: $btn-border-width solid $primary-button-background;
    box-shadow: $arc-button-box-shadow;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: rgba($primary-button-background, .9);
    border: $btn-border-width solid $primary-button-background;
    box-shadow: inset 0 0 10px 0 rgba(255,60,229,0.35), 0 0 0 0 rgba($black, .5);
  }
  &.disabled {
    background-color: rgba(151, 151, 151, .6);
    box-shadow: 0 0 0 0 rgba($black, .5);
    border: $btn-border-width solid rgba(193, 193, 193, .3);
  }
}

// Betslip
.betslipActiveTab {
  box-shadow: inset 0 2px 0 0 $betslip-active-tab-border-color;
}
.betslip-bet-count-round {
  color: $betslip-bet-count-color;
}

// Logo
.navbar-brand {
  background: url(#{$nav-logo-link}) no-repeat 24px 16px;
  width: 268px;
  height: 80px;
}

// Nav Wallet
.wallet-button {
  background-color: $nav-wallet-button-background;
  box-shadow: 0 2px 0 0 rgba($black, .5);
  border: 1px solid rgba(66,144,255, .5);
  border-radius: 6px 0 6px 0 !important;
}
#nav-wallet-wrapper > .dropdown-menu,
#nav-wallet-wrapper .dropdown-item:focus {
  background-color: $nav-wallet-dropdown-background;
}
#nav-wallet-wrapper {
  background-color: $nav-wallet-wrapper-background;
}
.currency-code {
  color: $nav-wallet-currency-color;
}
#nav-wallet-wrapper .arc-wallet-triangle-down {
  transform: rotateX(0deg);
  transition: transform 0.8s;
}
#nav-wallet-wrapper.show .arc-wallet-triangle-down{
  transform: rotateX(180deg);
  transition: transform 0.8s;
}

// Icons
.arc-wallet-triangle-down,
.arc-wallet-arrow-right,
.arc-arrow-right,
.arc-betslip-close,
.arc-betslip-stake,
.arc-sidemenu-triangle-down {
  color: $icon-section-color;
}
.arc-profile-button {
  background-color: $icon-section-color;
}
.category-tabs .nav-link.active i{
  color: $icon-section-color;
}
.upcoming-statistics:hover .arc-upcoming-event-arrow-right {
  color: $icon-section-color !important;
  transition: color 0.3s ease-in-out;
}
.event-card-toggle-button:hover .arc-upcoming-event-chevron-down {
  color: $icon-section-color !important;
  transition: color 0.3s ease-in-out;
}

// Progress bar
.progress-bar {
  background-image: linear-gradient(90deg, $nav-wallet-progress-bar-bg 0%, #65A5FF 100%);
}
.progress-bar-percent {
  color: $nav-wallet-currency-color;
}

// User profile menu
.nav-profile-button > .dropdown-menu {
  background-color: $nav-profile-dropdown-background;
}

// Sorting panel
.sorting-panel .nav-link.active {
  border-bottom: 3px solid $icon-section-color !important;
}

// Toggle switch
.toggle-slider:before {
  background-color: $nav-item-active-glow;
}
