@import '../variables';

// Navbar
$navbar-background: $arc-clr-esport-bg;
$nav-item-active-shadow: $arc-clr-esport-glow;
$nav-item-active-background: rgba($nav-item-active-shadow, $arc-clr-soil-cover);

// Buttons
$primary-button-background: $arc-clr-esport-glow;
$primary-button-border-color: $blue-lightest;
$primary-button-inset-boxshadow-color: rgba(255,60,229,0.35), 0 2px 0 0 rgba(0,0,0,0.5);;

// Betslip
$betslip-active-tab-border-color: $arc-clr-esport-glow;
$betslip-bet-count-color: $arc-clr-esport-glow;

// Close
$close-color: $arc-clr-esport-glow;
$close-text-shadow: none;

@import 'theme_schema';
