@import '../variables';

// Navbar
$navbar-background: $arc-clr-esport-bg;
$nav-item-active-glow: $arc-clr-esport-glow;
$nav-item-active-background: rgba($nav-item-active-glow, $arc-clr-soil-cover-opacity);

// Buttons
$primary-button-background: $arc-clr-esport-glow;

// Betslip
$betslip-active-tab-border-color: $arc-clr-esport-glow;
$betslip-bet-count-color: $arc-clr-esport-glow;

// Close
$close-color: $arc-clr-esport-glow;
$close-text-shadow: none;

// Logo
$nav-logo-link: '~@/assets/logo/arc-logo-esport.svg';

@import 'theme_schema';
