@import '../variables';

$navbar-background: $arc-clr-sport-bg;
$nav-item-active-shadow: $arc-clr-sport-glow;
$nav-item-active-background: rgba($nav-item-active-shadow, $arc-clr-soil-cover);

// Buttons
$primary-button-background: $arc-clr-sport-glow;
$primary-button-border-color: rgba(71,212,105,0.5);
$primary-button-inset-boxshadow-color: rgba(255,60,229,0.35);
$primary-button-boxshadow-color: rgba(0,0,0,0.5);

// Betslip
$betslip-active-tab-border-color: $arc-clr-sport-glow;
$betslip-bet-count-color: $arc-clr-sport-glow;

// Close
$close-color: $arc-clr-sport-glow;
$close-text-shadow: none;

@import 'theme_schema';
