@import '../variables';

$navbar-background: $arc-clr-inplay-bg;
$nav-item-active-glow: $arc-clr-inplay-glow;
$nav-item-active-background: rgba($nav-item-active-glow, $arc-clr-soil-cover);

// Buttons
$primary-button-background: $arc-clr-inplay-glow;

// Betslip
$betslip-active-tab-border-color: $arc-clr-inplay-glow;
$betslip-bet-count-color: $arc-clr-inplay-glow;

// Close
$close-color: $arc-clr-inplay-glow;
$close-text-shadow: none;

@import 'theme_schema';
