@import '../variables';

$navbar-background: $purple;
$nav-item-active-background: $purple-light;
$nav-item-active-shadow: $purple-dark;

// Buttons
$primary-button-background: $yellow-light;
$primary-button-border-color: rgba(71,212,105,0.5);
$primary-button-inset-boxshadow-color: rgba(255,60,229,0.35);
$primary-button-boxshadow-color: rgba(0,0,0,0.5);

// Betslip
$betslip-active-tab-border-color: $purple;

@import 'theme_schema';

