@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

//Colors
$green: #1B6945;
$green-light: #47D469;
$green-dark: #16593A;

$purple: #3A3774;
$purple-light: #484499;
$purple-dark: #23214C;

$blue: #335BBA;
$blue-light: #4290FF;
$blue-dark: #2D4686;
$blue-darkest: #263B72;

$orange: #592A15;
$orange-light: #E54700;
$orange-dark: #95360B;

$black: #191919;
$black-light: #1E1E1E;
$black-lighter: #2F2F2F;
$black-lightest: #3E3E3E;

$yellow: #FFB960;
$yellow-light: #FFC460;
$yellow-lightest: #FFC67E;
$yellow-dark: #FBB761;

$white: #FFFFFF;
$white-darker: #C1C1C1;
$white-darkest: #9A9A9A;

$brown: #483624;
$brown-dark: #352516;

$red: #FF5066;
$red-light: #FF8D8D;

//Fonts
$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$font-family-base: $font-family-sans-serif;

$primary: $purple;
