.esports {
  @import "themes/blue-theme";
  margin-top: 80px;
}

.sports {
  @import "themes/green-theme";
  margin-top: 80px;
}

.live {
  @import "themes/orange-theme";
  margin-top: 80px;
}

@import "components/navbar";
@import "components/sidemenu";
@import "components/modal";
@import "components/tabs";
@import "components/forms";
@import "components/buttons";
@import "components/cards";
@import "components/progress_bars";
@import "components/footer";
@import "components/promotional";
@import "components/betslip";
@import "components/icons";
@import "components/switches";
@import "components/input";
@import "components/step_switcher";
