@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

// Colors
$arc-clr-sport-bg: #1B6945;
$arc-clr-sport-glow: #47D469;

$arc-clr-esport-bg: #2D4686;
$arc-clr-esport-glow: #4290FF;

$arc-clr-inplay-bg: #281A12;
$arc-clr-inplay-glow: #E54700;

$arc-clr-soil-light: #3D3D3D;
$arc-clr-soil-dark: #2F2F2F;
$arc-clr-soil-darker: #232323;
$arc-clr-soil-black: #1E1E1E;
$arc-clr-soil-cover: .3;

$arc-clr-gold: #FFB960;
$arc-clr-gold-light: #FFC67E;

$arc-clr-white: #FFFFFF;
$arc-clr-iron: #C1C1C1;
$arc-clr-iron-light: #E5E5E5;

$wp-clr-notif-yellow: #FF4C4C;
$wp-clr-notif-red: #FFE27A;

// Fonts
$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem; // 14px
$h1-font-size: $font-size-base * 4.571; // 64px
$h2-font-size: $font-size-base * 3.429; // 48px
$h3-font-size: $font-size-base * 2.143; // 30px
$h4-font-size: $font-size-base * 1.5; // 21px
$h5-font-size: $font-size-base * 1.286; // 18px
$h6-font-size: $font-size-base * 1.143; // 16px

$font-size-lg: $font-size-base * 1.143;

$small-font-size: $font-size-base * 0.8571; // 12px

$font-weight-light: light;
$font-weight-normal: normal;
$font-weight-bold: bold;

// Backgrounds
$body-bg: $arc-clr-soil-black;
$body-color: $arc-clr-white;

// Cards
$card-bg: $arc-clr-soil-light;
$card-border-radius: 0;
$card-inner-border-radius: 0;
$card-border-width: 0;

// Navs
$nav-tabs-border-radius: 0;
$nav-tabs-border-width: 0;
$nav-tabs-link-active-bg: $arc-clr-soil-dark;
$nav-tabs-link-active-color: $arc-clr-white;

// Navbar
$navbar-height: 80px;
$navbar-dark-color: $arc-clr-gold;
$navbar-dark-hover-color: $arc-clr-white;

// Forms
$input-border-color: $arc-clr-soil-darker;
$input-border-radius: 0 6px 0 6px;
$input-color: $arc-clr-soil-light;
$input-border-radius-lg: $input-border-radius;
$input-border-radius-sm: $input-border-radius;
$input-line-height: 18px;
$input-padding-x: 12px;
$input-padding-y: 9px;


// Custom Colors

$theme-colors: ("arc-clr-soil-light": $arc-clr-soil-light,
                "arc-clr-soil-dark": $arc-clr-soil-dark,
                "arc-clr-soil-darker": $arc-clr-soil-darker,
                "arc-clr-soil-black": $arc-clr-soil-black,
                "arc-clr-iron": $arc-clr-iron,
                "arc-clr-iron-light": $arc-clr-iron-light,
                "arc-clr-gold": $arc-clr-gold,
                "arc-clr-gold-light": $arc-clr-gold-light,
                "arc-clr-white": $arc-clr-white,
                "arc-clr-esport-bg": $arc-clr-esport-bg,
                "arc-clr-esport-glow": $arc-clr-esport-glow,
                "arc-clr-sport-bg": $arc-clr-sport-bg,
                "arc-clr-sport-glow": $arc-clr-sport-glow,
                "arc-clr-inplay-bg": $arc-clr-inplay-bg,
                "arc-clr-inplay-glow": $arc-clr-inplay-glow,
                "wp-clr-notif-yellow": $wp-clr-notif-yellow,
                "wp-clr-notif-red": $wp-clr-notif-red,
                );

// Grid containers
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1440px
);
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1024px
) !default;

// Modals
$modal-inner-padding: 0 10px 10px 10px;
$modal-content-border-radius: 0;

// Components
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Buttons
$btn-border-radius: 6px 0 12px 0;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;

$btn-padding-y: 9px;
$btn-padding-x: 25px;
$btn-line-height: 18px;

$btn-padding-y-sm: 9px;
$btn-padding-x-sm: 25px;
$btn-line-height-sm: 18px;

$btn-padding-y-lg: 12px;
$btn-padding-x-lg: 25px;
$btn-line-height-lg: 24px;

$btn-border-width: 1px;
$btn-font-weight: $font-weight-bold;
$btn-focus-width: 0;

$arc-button-box-shadow: inset 0 0 10px 0 rgba(255,60,229,0.35), 0 2px 0 0 rgba(0,0,0,0.5);
$btn-box-shadow: $arc-button-box-shadow;
$btn-focus-box-shadow: $arc-button-box-shadow;
$btn-active-box-shadow: $arc-button-box-shadow;

$btn-link-disabled-color: $arc-clr-soil-darker;

$btn-transition: color .15s ease-in-out,
                 background-color .3s ease-in-out,
                 border-color .15s ease-in-out,
                 box-shadow .15s ease-in-out;
// Links
$link-color: $arc-clr-iron-light;
$link-hover-color: $arc-clr-white;
$link-hover-decoration: none;
