@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700');

// Colors //
$arc-clr-sport-opacity-like: #004B2E;
$arc-clr-sport-bg: #1B6945;
$arc-clr-sport-bg-second: #33A256;
$arc-clr-sport-glow: #47D469;
$arc-clr-sport-glow-second: #30BB52;

$arc-clr-esport-opacity-like: #193261;
$arc-clr-esport-bg: #2D4686;
$arc-clr-esport-bg-second: #3A72CE;
$arc-clr-esport-glow: #4290FF;
$arc-clr-esport-glow-second: #3C7EE1;

$arc-clr-inplay-opacity-like: #1F110B;
$arc-clr-inplay-bg: #281A12;
$arc-clr-inplay-bg-second: #A03302;
$arc-clr-inplay-glow: #E54700;
$arc-clr-inplay-glow-second: #9C3101;

$black: #000000;
$arc-clr-soil-black: #1E1E1E;
$arc-clr-soil-darker: #232323;
$arc-clr-soil-dark: #2F2F2F;
$arc-clr-soil-light: #3D3D3D;
$arc-input-effect: #6c757d;
$arc-dropdown-bg: #7d7d7d;
$arc-clr-iron: #C1C1C1;
$arc-clr-iron-light: #E5E5E5;
$arc-clr-white: #FFFFFF;

$arc-clr-soil-cover-opacity: .3;
$arc-clr-soil-cover: rgba($black, .3);
$arc-dropdown-divider: rgba($black, .15);

$arc-clr-gold: #FFB960;
$arc-clr-gold-light: #FFC67E;
$wp-clr-notif-yellow: #FFE27A;
$wp-clr-notif-red: #FF4C4C;

// Fonts //
$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem; // 16px
$h1-font-size: $font-size-base * 4; // 64px
$h2-font-size: $font-size-base * 3; // 48px
$h3-font-size: $font-size-base * 1.875; // 30px
$h4-font-size: $font-size-base * 1.3125; // 21px
$h5-font-size: $font-size-base * 1.125; // 18px
$h6-font-size: $font-size-base * 0.875; // 14px

$font-size-lg: $font-size-base * 1.125;

$small-font-size: $font-size-base * 0.75; // 12px
$extra-small-font-size: $font-size-base * 0.625; // 10px

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Backgrounds //
$body-bg: $black;
$body-color: $arc-clr-white;

// Cards //
$card-bg: $arc-clr-soil-light;
$card-border-radius: 0;
$card-inner-border-radius: 0;
$card-border-width: 0;

// Navs //
$nav-tabs-border-radius: 0;
$nav-tabs-border-width: 0;
$nav-tabs-link-active-bg: $arc-clr-soil-dark;
$nav-tabs-link-active-color: $arc-clr-iron-light;

// Navbar //
$navbar-height: 80px;
$navbar-light-color: $arc-clr-iron-light;
$navbar-light-hover-color: $arc-clr-white;
$navbar-light-active-color: $arc-clr-white;

// Forms //
$input-border-color: $arc-clr-soil-darker;
$input-border-radius: 0 6px 0 6px;
$input-color: $arc-clr-soil-light;
$input-border-radius-lg: $input-border-radius;
$input-border-radius-sm: $input-border-radius;
$input-line-height: 18px;
$input-padding-x: 12px;
$input-padding-y: 9px;
$input-btn-focus-width: 0;
$input-btn-focus-color: none;
$input-btn-focus-box-shadow: none;
$input-btn-border-width: 0;

// Custom Colors //
$theme-colors: ("arc-clr-soil-light": $arc-clr-soil-light,
                "arc-clr-soil-dark": $arc-clr-soil-dark,
                "arc-clr-soil-darker": $arc-clr-soil-darker,
                "arc-clr-soil-black": $arc-clr-soil-black,
                "arc-clr-soil-cover": $arc-clr-soil-cover,
                "arc-clr-iron": $arc-clr-iron,
                "arc-clr-iron-light": $arc-clr-iron-light,
                "arc-clr-gold": $arc-clr-gold,
                "arc-clr-gold-light": $arc-clr-gold-light,
                "arc-clr-white": $arc-clr-white,
                "arc-clr-esport-bg": $arc-clr-esport-bg,
                "arc-clr-esport-glow": $arc-clr-esport-glow,
                "arc-clr-sport-bg": $arc-clr-sport-bg,
                "arc-clr-sport-glow": $arc-clr-sport-glow,
                "arc-clr-inplay-bg": $arc-clr-inplay-bg,
                "arc-clr-inplay-glow": $arc-clr-inplay-glow,
                "wp-clr-notif-yellow": $wp-clr-notif-yellow,
                "wp-clr-notif-red": $wp-clr-notif-red,
                "arc-dropdown-divider": $arc-dropdown-divider
                );

// Modals //
$modal-inner-padding: 0 10px 10px 10px;
$modal-content-border-radius: 0;

// Components //
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Buttons //
$btn-border-radius: 6px 0 12px 0;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;

$btn-padding-y: 9px;
$btn-padding-x: 25px;
$btn-line-height: 18px;

$btn-padding-y-sm: 9px;
$btn-padding-x-sm: 25px;
$btn-line-height-sm: 18px;

$btn-padding-y-lg: 12px;
$btn-padding-x-lg: 25px;
$btn-line-height-lg: 24px;

$btn-border-width: 1px;
$btn-font-weight: $font-weight-bold;
$btn-focus-width: 0;
$btn-disabled-opacity: .15;
$btn-link-disabled-color: $arc-clr-iron;

$arc-button-box-shadow: 0 2px 0 0 rgba($black, .5);
$arc-secondary-button-box-shadow: 1px 1px 0 0 rgba($black, .5);
$btn-box-shadow: $arc-button-box-shadow;
$btn-focus-box-shadow: $arc-button-box-shadow;
$btn-active-box-shadow: $arc-button-box-shadow;

$btn-link-disabled-color: $arc-clr-soil-darker;

$btn-transition: color .15s ease-in-out,
                 background-color .3s ease-in-out,
                 border-color .15s ease-in-out,
                 box-shadow .15s ease-in-out;

$input-btn-focus-width:       0;
$input-btn-focus-color:       transparent;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

// Links //
$link-color: $arc-clr-iron-light;
$link-hover-color: $arc-clr-white;
$link-hover-decoration: none;

// Dropdowns //
$dropdown-border-width: none;
$dropdown-box-shadow: 0 2px 0 0 rgba($black, .5);
$dropdown-border-color: $black;
$dropdown-link-color: $arc-clr-white;
$dropdown-link-hover-color: $arc-clr-white;
$dropdown-link-hover-bg: transparent;

// Progress bars //
$progress-border-radius: 0 6px 0 6px;
$progress-height: .8571rem;

// Spacers //
$grid-gutter-width-base: 30px;
$spacer: 1rem;
$spacers: (
        0: 0,
        1: ($spacer * .25), // 4px
        2: ($spacer * .625), // 10px
        3: $spacer, // 16px
        4: ($spacer * 1.25), // 20px
        5: ($spacer * 3), // 48px
);

// Grid //
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1680px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1620px
);

// Alert //
$alert-border-radius: 6px 0 12px 0;


// Animation & Transitions //
$transition-base: all .3s ease-in-out;
$transition-speed: .3s;

// Breadcrumbs //
$breadcrumb-bg: transparent;
$breadcrumb-active-color: $arc-clr-iron;
$breadcrumb-padding-y: $spacer * 1.25;
$breadcrumb-padding-x: $spacer * 2.75;

// Select //
$custom-select-border-radius: 0 6px 0 6px;
$custom-select-disabled-color: $arc-clr-soil-light;
$custom-select-padding-x: $spacer * .625;
$form-group-margin-bottom: $spacer * 1.25;
$input-disabled-bg: $arc-clr-white;

